In [1]:
!pip install beautifulsoup

Collecting beautifulsoup
  Downloading BeautifulSoup-3.2.2.tar.gz (32 kB)
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'error'

  error: subprocess-exited-with-error

  python setup.py egg_info did not run successfully.
  exit code: 1

  [7 lines of output]
  Traceback (most recent call last):
    File "<string>", line 2, in <module>
    File "<pip-setuptools-caller>", line 34, in <module>
    File "C:\Users\admin\AppData\Local\Temp\pip-install-cp9xbard\beautifulsoup_5bae16b409654fc493d3680166f77e93\setup.py", line 3
      "You're trying to run a very old release of Beautiful Soup under Python 3. This will not work."<>"Please use Beautiful Soup 4, available through the pip package 'beautifulsoup4'."
                                                                                                     ^^
  SyntaxError: invalid syntax
  [end of output]

  note: This error originates from a subprocess, and is likely not a problem with pip.
error: metadata-generation-failed

Encountered error while generating package metadata.

See above for output.

note: This is an issue with the package mentioned above, not pip.
hint: See above for details.

[notice] A new release of pip is available: 23.3.1 -> 24.0
[notice] To update, run: python.exe -m pip install --upgrade pip

In [1]:
!pip install yfinance

Requirement already satisfied: yfinance in c:\programdata\anaconda3\lib\site-packages (0.2.30)
Requirement already satisfied: pandas>=1.3.0 in c:\programdata\anaconda3\lib\site-packages (from yfinance) (2.1.1)
Requirement already satisfied: numpy>=1.16.5 in c:\programdata\anaconda3\lib\site-packages (from yfinance) (1.24.3)
Requirement already satisfied: requests>=2.31 in c:\programdata\anaconda3\lib\site-packages (from yfinance) (2.31.0)
Requirement already satisfied: multitasking>=0.0.7 in c:\programdata\anaconda3\lib\site-packages (from yfinance) (0.0.11)
Requirement already satisfied: lxml>=4.9.1 in c:\programdata\anaconda3\lib\site-packages (from yfinance) (4.9.3)
Requirement already satisfied: appdirs>=1.4.4 in c:\programdata\anaconda3\lib\site-packages (from yfinance) (1.4.4)
Requirement already satisfied: pytz>=2022.5 in c:\programdata\anaconda3\lib\site-packages (from yfinance) (2023.3.post1)
Requirement already satisfied: frozendict>=2.3.4 in c:\programdata\anaconda3\lib\site-packages (from yfinance) (2.3.8)
Requirement already satisfied: peewee>=3.16.2 in c:\programdata\anaconda3\lib\site-packages (from yfinance) (3.16.3)
Requirement already satisfied: beautifulsoup4>=4.11.1 in c:\programdata\anaconda3\lib\site-packages (from yfinance) (4.12.2)
Requirement already satisfied: html5lib>=1.1 in c:\programdata\anaconda3\lib\site-packages (from yfinance) (1.1)
Requirement already satisfied: soupsieve>1.2 in c:\programdata\anaconda3\lib\site-packages (from beautifulsoup4>=4.11.1->yfinance) (2.5)
Requirement already satisfied: six>=1.9 in c:\programdata\anaconda3\lib\site-packages (from html5lib>=1.1->yfinance) (1.16.0)
Requirement already satisfied: webencodings in c:\programdata\anaconda3\lib\site-packages (from html5lib>=1.1->yfinance) (0.5.1)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\programdata\anaconda3\lib\site-packages (from pandas>=1.3.0->yfinance) (2.8.2)
Requirement already satisfied: tzdata>=2022.1 in c:\programdata\anaconda3\lib\site-packages (from pandas>=1.3.0->yfinance) (2023.3)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\programdata\anaconda3\lib\site-packages (from requests>=2.31->yfinance) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\programdata\anaconda3\lib\site-packages (from requests>=2.31->yfinance) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\programdata\anaconda3\lib\site-packages (from requests>=2.31->yfinance) (1.26.18)
Requirement already satisfied: certifi>=2017.4.17 in c:\programdata\anaconda3\lib\site-packages (from requests>=2.31->yfinance) (2023.7.22)

[notice] A new release of pip is available: 23.3.1 -> 24.0
[notice] To update, run: python.exe -m pip install --upgrade pip

In [2]:
# for weekday calculation refer to this: https://stackoverflow.com/questions/9847213/how-do-i-get-the-day-of-week-given-a-date
from datetime import datetime, timedelta

#if today is monday (0 means monday and 6 means sunday), fetch the data of previous friday, else fetch the data of previous 1 day
if datetime.today().weekday() == 0:
    start = datetime.now() - timedelta(3)
else:
    start = datetime.now() - timedelta(1)
start = start.strftime("%Y-%m-%d")
end = datetime.now()
end = end.strftime("%Y-%m-%d")
start, end

('2024-02-23', '2024-02-26')

In [3]:
#RELIANCE.NS
import yfinance as yf
# Valid intervals: 1m,2m,5m,15m,30m,60m,90m,1h,1d,5d,1wk,1mo,3mo
data = yf.download("INFY", start=start, end=end,  interval = "5m")
data

[*********************100%%**********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Datetime,,,,,,
2024-02-23 09:30:00-05:00,20.209999,20.250000,20.180000,20.209999,20.209999,133140
2024-02-23 09:35:00-05:00,20.209999,20.215000,20.180000,20.195000,20.195000,103388
2024-02-23 09:40:00-05:00,20.200001,20.260000,20.184999,20.254999,20.254999,139275
2024-02-23 09:45:00-05:00,20.260000,20.260000,20.215000,20.219999,20.219999,34447
2024-02-23 09:50:00-05:00,20.225000,20.230000,20.209999,20.215000,20.215000,21745
...,...,...,...,...,...,...
2024-02-23 15:35:00-05:00,20.110001,20.125000,20.110001,20.117500,20.117500,88009
2024-02-23 15:40:00-05:00,20.115000,20.120001,20.100000,20.105000,20.105000,78662
2024-02-23 15:45:00-05:00,20.105000,20.120001,20.100000,20.110001,20.110001,94812
2024-02-23 15:50:00-05:00,20.120001,20.129999,20.100000,20.110001,20.110001,241344
2024-02-23 15:55:00-05:00,20.110001,20.115000,20.100000,20.110001,20.110001,473323

In [ ]:
price_store = []
for x in data["Adj Close"].to_list():
    price_store.append(x)

In [ ]:
# Referenced from this youtube video: https://www.youtube.com/watch?v=WiAGeVS6e40

In [ ]:
url1 = "https://www.google.com/finance/quote/INFY:NSE"
url2 = "https://www.google.com/finance/quote/500209:BOM"

In [3]:
import requests
from bs4 import BeautifulSoup
import time

In [28]:
ticker = "INFY"
exchange = "NSE"

url = f"https://www.google.com/finance/quote/{ticker}:{exchange}"

for i in range(3):
    response = requests.get(url)
    soup = BeautifulSoup(response.text, 'html.parser')
    class1 ="YMlKec fxKbKc"
    price = float(soup.find(class_=class1).text.strip()[1:].replace(",",""))
    print(price)
    price_store.append(price)
    time.sleep(5)

1654.15
1654.85
1654.85

1653.85